name = "triple-taste-rpa"
main = "src/webhook.ts"

compatibility_date = "2025-04-24"

[vars]
TELEGRAM_BOT_KEY=""
TELEGRAM_CHAT_ID=""

WEBHOOK_MAIN_TUNNEL_URL=""
WEBHOOK_RESULTS_TUNNEL_URL=""

WEBHOOK_RPA_RUNNER_PORT=""
WEBHOOK_RPA_RESULTS_PORT=""
